@tailwind base;
@tailwind components;
@tailwind utilities;

/* Inside your global CSS file or a <style> block */
.hide-scrollbar::-webkit-scrollbar {
    display: none;
}

.hide-scrollbar {
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.swiper-button-next, .swiper-button-prev {
    color: black;
}